
.new-line {
    /*display: block;*/
    display: flex;
    /* align-content: center; */
    align-items: center;
}



.e-dialog .e-dlg-header {
    color: white;
    font-size: small;
    
}

.e-dialog .e-dlg-header-content {
    color: white;
    font-size: 10px;
    font-weight: normal;
    background-color: #363636;
    margin-bottom: 10px;
    padding: 0px;
    padding-left: 2%;
    
}


.e-dialog .e-dlg-content {
    font-size: 12px;
}




.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
    font-size: 12px;
    color: white !important;
    background-color: transparent;
}

.e-dialog .e-btn.e-dlg-closeicon-btn:hover, .e-dialog .e-btn.e-dlg-closeicon-btn:focus, .e-dialog .e-btn.e-dlg-closeicon-btn:active {
    background-color: transparent;
    
}