.notifgrid {
    margin: 20px;
  }
  
  #toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  #toolbar input[type="checkbox"] {
    margin-right: 10px;
  }
  
  
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .e-checkbox-wrapper .e-frame.e-check {
    background-color: #328bd4 !important; 
  }
  
  .e-pager .e-prevpagedisabled,
  .e-pager .e-nextpagedisabled {
    width: auto; 
    padding: 3px 6px; 
  }

.notifgrid span,
.notifgrid select,
.notifgrid input[type="text"] {
    font-size: 0.9em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.right {
  margin-right: 15px;
  color: rgb(180, 180, 180)
}

.left-group {
  display: flex;
}

.left {
  margin-left: 1px;  
}