
.new-line {
    /*display: block;*/
    display: flex;
    /* align-content: center; */
    align-items: center;
}


.myclass {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #e0e0e0;
    display: inline-flex;
}
.e-dialog .e-dlg-header {
    color: white;
    font-size: small;
    
}

.e-dialog .e-dlg-header-content {
    color: white;
    font-size: 10px;
    font-weight: normal;
    background-color: black;
    margin-bottom: 10px;
    padding: 0px;
    padding-left: 2%;
    
}
.e-ddl.e-input-group.e-control-wrapper .e-input {
    font-size: 10px;
    text-align: center;
    color: black;
    background: white;
    border: 2px black;
    
}


.e-ddl.e-input-group.e-control-wrapper.e-input-focus::before, .e-ddl.e-input-group.e-control-wrapper.e-input-focus::after {
    background: black;
    color: black;
    border-top: 2px black;
    
}

.e-input{
    font-size: 20px;
    font-family: emoji;
    color: black;
    
}
.value {
    border-radius: 50%;
    float: left;
    margin-top: 2px;
    position: relative;
    height: 20px;
    width: 20px;
}
.e-dropdownbase .e-list-item.e-item-focus, .e-dropdownbase .e-list-item.e-active, .e-dropdownbase .e-list-item.e-active.e-hover, .e-dropdownbase .e-list-item.e-hover {
   
    color: black;
}

.e-input-group:not(.e-float-icon-left){
    border-width: 1px;
}
.form-control:focus {
    border-color: black; /* Change to your desired color */
    border-width: 2px;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 50%;
  }
  .custom-checkbox .custom-control-label::after {
    border-radius: 50%;
  }


  .e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
    background-color: black;
  }

  .e-model-header{
    background-color: black;
  }

  
  input.e-input::selection{
    background-color: black;
    color: white;
  }
  .e-datetime-wrapper .e-input-group-icon.e-icons.e-active {
    color: black;
}
.e-datetime-wrapper .e-input-group-icon.e-date-icon, .e-datetime-wrapper .e-input-group-icon.e-time-icon {
    font-size: 16px;
    background-color: white;
    color: black;
}
.e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background-color: black;
    color: #fff;
}

/* To specify background color, color, and border */
.e-cell .e-selected .e-focused-date{
    background-color: black;
    color: black;
    border: 1px solid black;
}


::ng-deep .e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected.e-focused-date span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
    background-color: black !important;
    background: black;
    color: #fff;
}


.e-dialog .e-dlg-content {
    font-size: 12px;
}

.mt-20{
    margin-top: 20px;
}

.e-calendar .e-content td.e-today.e-selectedspan.e-day, .e-calendar .e-content td.e-selected span.e-day, .e-calendar .e-content td.e-selected.e-focused-date span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
    background-color: black !important;
    color: #fff;
}

.e-calendar .e-content td.e-today:hover span.e-day, .e-calendar .e-content td.e-focused-date.e-today:hover span.e-day, .e-calendar .e-content td.e-focused-date.e-today:focus span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today:focus span.e-day {
    background-color: #eee !important;
    border: 1px solid #000000 !important;
    color: #000000 !important;
}

.e-btn.e-flat.e-primary:hover, .e-css.e-btn.e-flat.e-primary:hover .e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary  {
    background: rgba(227, 22, 91, 0.04) !important;
    border-color: transparent !important;
    color: #000000 !important;
}
/* .e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary {
    background: rgba(227, 22, 91, 0.04) !important;
    border-color: transparent !important;
    color: #000000 !important;
} */

  

.e-calendar .e-content td.e-today span.e-day, .e-calendar .e-content td.e-focused-date.e-today span.e-day, .e-calendar .e-content td.e-focused-date.e-today span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background-color: #eee !important;
    border: 1px solid #000000 !important;
    color: #000000 !important;
}


.e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected.e-focused-date span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day .e-calendar .e-content td.e-today.e-selected span.e-day, .e-calendar .e-content td.e-selected span.e-day, .e-calendar .e-content td.e-selected.e-focused-date span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day .e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected.e-focused-date span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day .e-calendar .e-content td.e-today.e-selected span.e-day, .e-calendar .e-content td.e-selected span.e-day, .e-calendar .e-content td.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day {
    background-color: #000000 !important;
    color: #fff !important;
}

.e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected.e-focused-date span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
    background-color: #101010 !important;
    color: #fff !important;
}
.e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected.e-focused-date span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
    background-color: #101010 !important;
    color: #fff !important;
}


.form-control{
    height: 24px;
    padding-top: 0px;
    padding-bottom: 0px ;
    
}
.warning-margin{
    margin: inherit;
}