<button class="e-control e-btn" style="position: absolute; margin-top: 25px; margin-left: 15px;" (click)="onOpenDialog($event); myForm.form.reset()">Open Dialog</button>

<ejs-dialog #dialogcomponent id="dialogcomponent" height="62%" width="60%" header="Create New Account" [buttons]="dialogButtons" [visible]="dialogVisibility" [position]="dialogPosition" [animationSettings]="dialogAnimationSettings" isModal='true'>
  
  <form #myForm="ngForm" class="mb-1"  >
    <div class="form-group mt-1 mb-1 row">
      <label for="name" class="align-self-center pl-2 pr-2 col-sm font-weight-normal">Company Name</label>
      <div class="col-9">
        <input [(ngModel)]="account.name" name="name" required type="text" class="form-control" id="name" #name="ngModel" placeholder="e.g., John Doe" />
        <!-- <small *ngIf="name.invalid && name.touched">Name is required</small> -->
      </div>
    </div>

    <div class="form-group mt-1 mb-1 row">
      <label for="emailAddress" class="align-self-center pl-2 pr-2 col-sm font-weight-normal">Email address</label>
      <div class="col-9">
        <input [(ngModel)]="account.email" name="emailAddress" required email type="email" class="form-control" id="emailAddress" #emailAddress="ngModel" placeholder="johnDoe@gmail.com" />
        <!-- <small *ngIf="emailAddress.errors?.['required'] && emailAddress.touched">Email Address is required</small> -->
        <!-- <small *ngIf="emailAddress.errors?.['email'] && emailAddress.touched">Email Address should be valid</small> -->
      </div>
    </div>

    <div class="form-group mt-1 mb-1 row">
      <label for="uname" class="align-self-center pl-2 pr-2 col-sm font-weight-normal">Username</label>
      <div class="col-9">
        <input [(ngModel)]="account.uname" name="uname" required type="text" class="form-control" id="uname" #uname="ngModel" placeholder="e.g., JDoe" />
        <!-- <small *ngIf="uname.invalid && uname.touched">Username is required</small> -->
      </div>
    </div>

    <div class="form-group mt-1 mb-1 row">
      <label for="password" class="align-self-center pl-2 pr-2 col-sm font-weight-normal">Password</label>
      <div class="col-9">
        <input [(ngModel)]="account.password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" appFormsDirective type="password" class="form-control" id="password" #password="ngModel" minlength="6" maxlength="20" placeholder="e.g., 6+-i\nw63IYyC*E" />
        <!-- <div class="d-flex"> -->
          <!-- <small *ngIf="password.errors?.['minlength']" class="flex-shrink-1">Password should be more than 12 characters</small> -->
          <!-- <small *ngIf="password.errors?.['required'] && password.touched" class="flex-shrink-1">Password is required</small> -->
          <!-- <small *ngIf="password.errors?.['pattern'] && password.dirty && !password.errors?.['minlength']" class="flex-shrink-1">Password does not contain special characters</small> -->
        <!-- </div> -->
      </div>
    </div>

    <div class="form-group mt-1 mb-1 row">
      <label for="cpassword" class="align-self-center pl-2 pr-2 col-sm font-weight-normal">Password Confirm</label>
      <div class="col-9">
        <input [ngModel]="" name="cpassword" required type="password" class="form-control" id="cpassword" #cpassword="ngModel" placeholder="e.g., 6+-i\nw63IYyC*E" />
        <!-- <small *ngIf="cpassword.invalid && cpassword.touched">Password Confirmation is required</small> -->
        <!-- <small *ngIf="password.value!= cpassword.value && cpassword.dirty ">Passwords need to be matching!</small> -->
      </div>
    </div>

    <div class="row align-items-center">
  <div class="col-sm fw-bold font-weight-normal p-2">Timezone</div>
  <div class="col-9">
    <ejs-dropdownlist id='timeZone' #timeZone="ngModel" [(ngModel)]="account.timeZone" name="timeZone"  required [dataSource]='dropDownDataTimeZone' [fields]="dataFields" placeholder='Select an Option' value="null" popupHeight='220px'></ejs-dropdownlist>
  </div>
</div>
<div class="row mt-1 mb-1 align-items-center">
  <div class="col-sm fw-bold font-weight-normal p-2">Subscription Plan</div>
  <div class="col-9"> <!-- This div will contain the two small dropdowns -->
    <div class="row align-items-center"> <!-- Nested row for small dropdowns -->
      <div class="col-6"> <!-- Each small dropdown will take half of the width -->
        <ejs-dropdownlist id='plan' name="plan" #plan="ngModel" [(ngModel)]="account.plan" [dataSource]='dropDownPlan' [fields]="dataFields" placeholder=''  popupHeight='220px'></ejs-dropdownlist>
      </div>
      <div class="col-6">
        <ejs-dropdownlist id='paymentFrequency' name="paymentFrequency"  [(ngModel)]="account.subscriptionFrequency" #paymentFrequency="ngModel" [dataSource]='dropDownPlanPayment' [fields]="dataFields" placeholder=''  popupHeight='220px'></ejs-dropdownlist>
      </div>
    </div>
  </div>
</div>



<div class="row mt-1 mb-1 align-items-center">
  <div class="col-sm fw-bold font-weight-normal p-2">Expiration date</div>
  <div class="col-9"> <!-- This div will contain the two small dropdowns -->
    <div class="row align-items-center"> <!-- Nested row for small dropdowns -->
      <div class="col-6"> <!-- Each small dropdown will take half of the width -->
        <ejs-datetimepicker [cssClass]="" name="datetime" [disabled]="account.demoSelected"  [(ngModel)]="account.expirationDate" #date="ngModel"  required [min]='minDate' [max]='maxDate' depth="year" openOnFocus="true"></ejs-datetimepicker>
      </div>
      <div class="col-6">
        
      </div>
    </div>
  </div>
</div>
  <div class="d-flex flex-column"></div>
 <div class=" mt-1 mb-1   row  ">
  
<div [ngStyle]="{'line-height': '0px'}" class="d-flex flex-column col-6 align-items-end mt-1 mb-1   p-0"><div class="col-sm fw-bold font-weight-normal p-2">Plan</div>
<div class="col-6 float-right ">
    <input type="radio" class="mr-3" id="option1" name="option1" value="option1" [(ngModel)]="account.selectedOption">
    <label class="font-weight-normal" for="option1">Base</label>
  </div>
  <div class=" col-6 mt-1 mb-1">
    <input type="radio" class="mr-3" id="option2" name="option2" value="option2" [(ngModel)]="account.selectedOption">
    <label class="font-weight-normal" for="option2">Pro</label>
  </div>
  <div class="  col-6">
    <input type="radio" class="mr-3 " id="option3" name="option3" #option3="ngModel" value="option3" [(ngModel)]="account.selectedOption">
    <label class="font-weight-normal" for="option3">Gold</label>
  </div>
  
 
</div>

<div class="col-3  align-items-start mr-auto"><label class="font-weight-normal mr-3 align-self-start" for="demo">DEMO</label><input (click)="onDemoClick()" type="checkbox" class="mr-3 " id="demo" name="demo" #demo="ngModel" [(ngModel)]="account.demoSelected">
    </div>

</div> 


<div  class="d-flex justify-content-center justify-self-center mt-20 ">
  <div *ngIf="(myForm.invalid && myForm.dirty && !password.errors?.['pattern']) || (!password.errors?.['pattern'] && myForm.touched && myForm.dirty && (account.expirationDate==null || account.subscriptionFrequency==null || account.plan==null || account.timeZone==null || account.selectedOption==null))" class="text-danger warning-margin">
    Please fill in all fields!
  </div>
  <div *ngIf="password.value != cpassword.value && cpassword.dirty && myForm.valid" class="text-danger warning-margin">
    Passwords do not match!
  </div>
  <div *ngIf="password.errors?.['pattern'] && password.dirty" class="text-danger warning-margin">
    Your password must be 6-20 characters long, with at least 1 lowercase letter, 1 uppercase letter, 1 number, and 1 special character.
  </div>
  <div *ngIf="emailAddress.errors?.['email'] && !password.errors?.['pattern']" class="text-danger warning-margin">
    Please enter a valid email address.
  </div>
</div>




</form>


</ejs-dialog>
