<div class="container">
    <ejs-grid [dataSource]="data" [toolbar]="toolbarOptions" [allowSorting]="true" height='272px' class="searchField">
        <e-columns>
                <e-column field='DateCreated' headerText='DateCreated' width=120></e-column>
                <e-column field='UserID' headerText='UserID' width=120></e-column>
                <e-column field='Username' headerText='Username' width=120></e-column>
                <e-column field='NotificationTitle' headerText='NotificationTitle' width=120></e-column>
                <e-column field='NotificationMessage' headerText='NotificationMessage' width=120></e-column>
                <e-column field='LastModifiedDate' headerText='LastModifiedDate' width=120></e-column>
        </e-columns>
    </ejs-grid>
</div>