
  <div class="grid">
  <ejs-grid #grid [dataSource]="data" [editSettings]="editSettings" [allowSorting]="true" height="400" width="100%">
    <e-columns>
      <e-column type="checkbox" width="50"></e-column>
      <e-column field="ID" headerText="ID" width="80"></e-column>
      <e-column field="UserName" headerText="User Name" width="80"></e-column>
      <e-column field="Name" headerText="Name" width="80"></e-column>
      <e-column field="Email" headerText="Email" width="80"></e-column>
      <e-column field="Companies" headerText="Companies" width="80"></e-column>
      <e-column field="LastLogin" headerText="Last Login" width="80"></e-column>
    </e-columns>
  </ejs-grid>
<div>

  