<div class="MainToolbarStyle d-flex  align-items-center ">
    <img src="../../../assets/shield.png" class="m-3" width="32" height="32" alt="" ondragstart="return false;">
<app-accounts-drop-down-button class="m-3"></app-accounts-drop-down-button>
<a href="" class="text-white fs-11 p-4  ">Companies</a>
<a href="" class="text-white fs-11 p-4  ">Check Points</a>
<a href="" class="text-white fs-11 p-4  ">Guards</a>
<a href="" class="text-white fs-11 p-4  ">Action Log</a>
<a href="" class="text-white fs-11 p-4  ">Check Guard Action</a>
<a href="" class="text-white fs-11 p-4  ">Notifications</a>
<a class="d-flex flex-column fs-11 align-items-center m-3" href="/"><img src="../../../assets/refresh.png" width="32" height="32" alt=""> <div class="text-white fs-12">Refresh</div> </a>
<app-help-drop-down-button class="ml-auto m-3"></app-help-drop-down-button>
<app-settings-drop-down-buttons class="m-3 "><img src="../../../assets/gear.png" alt="" width="32" height="32"></app-settings-drop-down-buttons>

</div>