@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';




.e-search-wrapper {
  float: right; /* Αλλαγή θέσης στο search bar */
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  order: -1; /* Θέτει το πρώτο span αριστερά */
}

.right-group {
  display: flex; /* Κάνει τα spans να είναι σειρά */
}

.right {
  margin-left: 10px; /* Προσθέτει κάποιο διάστημα μεταξύ των spans */
}