.html-button {
    margin-left: 635px;
    font-family: "Open Sans", "Verdana", sans-serif !important;
    font-weight: normal ;
    font-style: normal ;
    text-decoration: none ;
    font-size: 12px ;
    color: rgb(0, 0, 0) ;
    border: 1px solid rgb(204, 204, 204) ;
}
.save-button{
    background-color: white
}
.send-button{
    background-color: rgb(41, 116, 191);
    color: white;
}
.cancel-button {
    background-color: rgb(221, 134, 82);
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px; 
}

.e-dialog .e-dlg-content {
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
}
.form-control:focus {
    border-color: black; /* Change to your desired color */
    border-width: 2px;
  }
  
  .rounded-dialog {
    border-radius: 10px; /* Adjust as needed */
    overflow: hidden; /* Ensures content doesn't overflow rounded corners */
  }
  
  
