<div id="addnotif" > 
  <ejs-dialog  class="dialog" #dialogcomponent height="80%" width="900px" content="" [buttons]="dialogButton" 
    [visible]="dialogVisibility" [position]="dialogPosition"  [resizeHandles]="dialogResizeDirections" 
    [animationSettings]="dialogAnimationSettings" isModal='true'>
  <label>Notification Title</label>
  <input 
    type="text" 
    class="form-control"
    [(ngModel)]="notificationTitle">
    <br>
    <div style="display: flex; align-items: center;">
      <label>Notification Title</label>
      <button class="html-button">Preview as HTML</button>
    </div>
    <br>
    <textarea class="form-control no-resize" rows="10" [(ngModel)]="notificationMessage"></textarea>
    <br>
    <app-notifgrid></app-notifgrid>
  </ejs-dialog>
</div>
