<div id="container " > 
  <ejs-dialog   #dialogcomponent class="notifdialog" height="90%" width="900px" [buttons]="dialogButton" 
    [visible]="dialogVisibility" [position]="dialogPosition"  [resizeHandles]="dialogResizeDirections" 
    [animationSettings]="dialogAnimationSettings" isModal='true'>
      <ng-template #content>
        <form>
            <div class='form-group'><label for='email'>Title</label>
                <input type='title' class='form-control' id='title'>
            </div>
            <div class='form-group'></div>
            <div class='form-group'>
                <label for='comment'>Notification Message</label>
                                <div class="d-flex  nowrap">
                  <button class="previewBtn">Preview as HTML</button>
                </div>
                <textarea style='resize: none;' class='form-control' rows='6' id='comment'></textarea>
            </div>
        </form>
      </ng-template>
      <app-grid></app-grid>
  </ejs-dialog>
</div>
  
  
  
  
  