.html-button {
    margin-left: 600px;
}
.save-button{
    background-color: white
}
.send-button{
    background-color: rgb(41, 116, 191);
    color: white;
}
.cancel-button {
    background-color: rgb(221, 134, 82);
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px; /* Adjust this value according to your preference */
}

.e-dialog .e-dlg-content {
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
}