.e-paste:before {
    content: '\e99d';
}

.e-btn {
    border-radius: 4px;
    background-color: rgb(173, 186, 199);
    color: rgb(4, 4, 4);
}

.container {
    display: flex;
    background-color: rgb(173, 186, 199);
}

.toolbar-buttons .e-btn {
    background-color: rgb(173, 186, 199);
    color: rgb(0, 0, 0);
}

.addB,
.viewB,
.deleteB,
.assignB {
    background-color: rgb(173, 186, 199);
}

.toolbar-buttons {
    background-color: rgb(173, 186, 199);
}

.icon-refresh {
    display: flex;
    background-color: rgb(173, 186, 199);
}

.e-btn[disabled] {
    opacity: 0.5; 
    cursor: not-allowed; 
}

.e-btn[disabled] .e-icons {
    color: #999; 
}

.e-btn[disabled] span {
    color: #999
}

.container {
    padding: 0px 0px;
}

.search-box {
    border-radius: 2px;
    padding: 0px 23px;
    height: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}