
.e-search-wrapper {
  float: right; 
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  order: -1; 
}

.right-group {
  display: flex; 
}

.right {
  margin-left: 10px; 
}



#toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
}

#toolbar input[type="checkbox"] {
  margin-right: 10px;
}


#toolbar ejs-pager .e-prev,
#toolbar ejs-pager .e-next {
  margin: 0 5px;
}




.e-pager {
<<<<<<< HEAD
  font-size: 12px; /* Optionally reduce font size */
  width: 70px;
  height: 50px;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  padding: 3px 6px; /* Adjust padding as needed */
=======
  font-size: 12px; 
  width: 70px;
  height: 50px;
  padding: 0; 
  margin: 0; 
  padding: 3px 6px; 
>>>>>>> cfee7ad78a1ef8734c585f5de0c1aa1b5d684e30
  .e-pager .e-firstpage,
  .e-pager .e-prevpage,
  .e-pager .e-pagenumber,
  .e-pager .e-nextpage,
  .e-pager .e-lastpage,
  .e-pager .e-pagecount {
    display: none;  
  } 

<<<<<<< HEAD
  /* Adjust the size of the next and back buttons */
  .e-pager .e-prevpagedisabled,
  .e-pager .e-nextpagedisabled {
    width: 20px; /* Set width */
    padding: 3px 6px; /* Adjust padding as needed */
=======
  .e-pager .e-prevpagedisabled,
  .e-pager .e-nextpagedisabled {
    width: 20px;
    padding: 3px 6px; 
>>>>>>> cfee7ad78a1ef8734c585f5de0c1aa1b5d684e30
  }

}

<<<<<<< HEAD
/* Increase specificity to override default styles */
=======
>>>>>>> cfee7ad78a1ef8734c585f5de0c1aa1b5d684e30
:host ::ng-deep .e-checkbox-wrapper .e-frame, 
:host ::ng-deep .e-checkbox-wrapper .e-icons::before {
    border-color: grey !important; 
    width: 15px !important; 
    height: 16px !important; 
}

<<<<<<< HEAD

/* Change background color of the checkbox when checked */
.e-checkbox-wrapper .e-frame.e-check {
  background-color: #328bd4 !important; /* Change background color to blue */
}


=======
.e-checkbox-wrapper .e-frame.e-check {
  background-color: #328bd4 !important; 
}

>>>>>>> cfee7ad78a1ef8734c585f5de0c1aa1b5d684e30
.checkbox-container {
  display: left;
  align-items: center;
}
