<button class="e-control e-btn" style="position: absolute;margin-top: 25px;margin-left: 15px;"

(click)="onOpenDialog($event)">add notification

</button>



<div id="container" > 
  

  <ejs-dialog  class="dialog" #dialogcomponent height="90%" width="900px" content="" 

    [buttons]="dialogButton" 
  
  [visible]="dialogVisibility" [position]="dialogPosition"  [resizeHandles]="dialogResizeDirections" 
  
  [animationSettings]="dialogAnimationSettings" isModal='true'>


  <label>Notification Title</label>

<!--Dimiourgw tin mpara gia to notification title-->  
  <input 
    type="text" 
    class="form-control"
    [(ngModel)]="notificationTitle">
    <br>
    <!--Testing-->
    <p>{{notificationTitle}}</p>
    <br>
    <label>Notification Title</label>

    <div style="display: flex; align-items: center;">
      <span>Notification </span>
      <span>Title</span>
      <button class="e-control e-btn" style="margin-left: 620px;">Preview as HTML</button>
    </div>


    <br>
    
    <textarea class="form-control no-resize" rows="10" [(ngModel)]="notificationMessage"></textarea>
    <!--Testing-->
    <p>{{notificationMessage}}</p>  

    <app-grid></app-grid>

    


  </ejs-dialog>


</div>




