@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-angular-popups/styles/material.css';

html,
body {
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}


.cancel-button {
  float:left;
  font-family: "Open Sans", "Verdana", sans-serif !important;
  font-size: 110% !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid rgba(93, 93, 93, 0.50) !important;
  
  text-shadow: 1px 1px 2px rgba(0,0,0,0.09) !important;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.10) !important;
  border-radius: 3px !important;
  background-color: rgba(220, 130, 75, 0.82) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(223, 142, 94, 0.82)), to(rgba(217, 116, 55, 0.82)), color-stop(12%, rgba(221, 131, 77, 0.82)), color-stop(85%, rgba(221, 131, 77, 0.82))) !important;
  }
  
.send-button{
    background-color: rgb(61, 136, 221) !important;
    border-radius: 3px;
}

.Save-template-button{
  border-radius: 3px;
  background-color:blanchedalmond;
}

.e-control{
  border-radius: 3px;
}

.no-resize {
    resize: none;
}
.form-control:focus {
  border-color: black; /* Change to your desired color */
  border-width: 2px;
}

.rounded-dialog {
  border-radius: 10px; /* Adjust as needed */
  overflow: hidden; /* Ensures content doesn't overflow rounded corners */
}


/* CSS class for rounded corners */
.rounded-dialog {
  border-radius: 8px; /* Adjust the value to change the roundness of the corners */
  overflow: hidden; /* Ensure content inside the container stays within rounded corners */
}
.nowrap {
  white-space: nowrap;
}
.previewBtn{
  font-family: "Open Sans", "Verdana", sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-size: 12px !important;
  color: rgb(52, 52, 52) !important;
  border: 1px solid rgb(204, 204, 204) !important;
  border-radius: 3px;
  
  -webkit-box-shadow: 0px 1px 2px rgba(220,220,220,0.58) !important;
  margin-bottom: 2px;
  
  
}

.previewBtn:focus {
  background-color: rgb(251, 251, 251) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(250, 250, 250)), to(rgb(253, 253, 253))) !important;
  color:black  !important;
}

.BtnBlue {
  font-family: "Open Sans", "Verdana", sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-size: 12px !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(204, 204, 204) !important;
  
  -webkit-box-shadow: 0px 1px 2px rgba(220,220,220,0.58) !important;
  border-radius: 3px !important;
  background-color: rgb(44, 117, 192) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(61, 129, 199)), to(rgb(27, 106, 186))) !important;
}
