.notifgrid {
  margin: 20px;
}

#toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
}

#toolbar input[type="checkbox"] {
  margin-right: 10px;
}

.e-pager {
  font-size: 12px;
  height: auto;
}

.e-pager .e-prevpagedisabled,
.e-pager .e-nextpagedisabled {
  width: auto;
  padding: 3px 6px;
}

.notifgrid span,
.notifgrid select,
.notifgrid input[type="text"] {
  font-size: 0.9em; /* Adjust the value as needed */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.right {
  order: 1;
}

.left-group {
  display: flex;
}

.left {
  margin-left: 20px;
  color: rgb(181, 181, 181);
}

.e-control .e-pager {
  display: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.right {
  order: 1;
}

.left-group {
  display: flex;
}

.left {
  margin-left: 20px;
  color: rgb(181, 181, 181);
}

#pager {
  margin-top: 100px;
}
