.dbtable {
    position: relative;
    padding: 0px 20px;
}
.e-headertext {
    font-weight: normal;
    font-size: 0.85em;
    color: rgb(159,159,159);
    font-family: '"Segoe UI", Tahoma, sans-serif';
}
.e-rowcell {
    background-color: rgb(245, 245, 245);
    font-family: Arial,Helvetica;
    font-size: 14px;
    font-family: 'Roboto,Arial,Helvetica';
}
.companies-count {
    bottom: 0;
    left: 0;
    border-top: 1px solid #000000; 
    padding: 0px 0;
    font-size: 0.8em;
}

.e-toolbar .e-search{
    width: 150px;
    height: 25px;
    background-color: white ;
    border-radius: 2px;
    padding: 0px 2px;
    align-items: center;
}
