.header{
    position: relative;
    padding: 0px 20px;
}
.dbcompanies {
    position: relative;
    padding: 0px 20px;
}
.e-headertext {
    font-weight: normal;
    font-size: 0.9em;
    color: rgb(159,159,159);
}
.e-rowcell {
    background-color: rgb(245, 245, 245);
    font-family: Arial,Helvetica;
    font-size: 14px;
    font-family: 'Roboto,Arial,Helvetica';
}
.companies-count {
    bottom: 0;
    left: 0;
    border-top: 1px solid #000000; 
    padding: 0px 0;
    font-size: 0.8em;
}

.e-toolbar .e-search{
    width: 150px;
    height: 25px;
    background-color: white ;
    border-radius: 2px;
    padding: 0px 2px;
    align-items: center;
}

.e-grid.e-default .e-headercell, .e-grid.e-default .e-detailheadercell {
    padding-left: 0px;
    padding-right: 0px;  
    margin-right: 10px;
}

.e-grid .e-filterbarcell, .e-grid .e-filterbarcelldisabled{
    padding-right: 20px;
    padding-left: 0px;
    margin-left: 10px;
}

.e-grid .e-rowcell {
    background-color: white;
}
.green-text {
    color: green;
}
.red-text {
    color: red;
}
