@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-angular-popups/styles/material.css';

html,
body {
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}


.cancel-button {
    float: left;
    margin-left: 10px; 
    color: rgb(33, 100, 17);
    background-color: rgb(255, 187, 0) !important;
  }
  
.send-button{
    background-color: rgb(61, 136, 221) !important;
}

.no-resize {
    resize: none;
}


.rounded-dialog {
  border-radius: 10px; /* Adjust as needed */
  overflow: hidden; /* Ensures content doesn't overflow rounded corners */
}


/* CSS class for rounded corners */
.rounded-dialog {
  border-radius: 10px; /* Adjust the value to change the roundness of the corners */
  overflow: hidden; /* Ensure content inside the container stays within rounded corners */
}
