<!-- <button class="e-control e-btn" style="position: absolute; margin-top: 25px; margin-left: 630px;" (click)="onOpenDialog($event); myForm.form.reset()">Open Dialog</button> -->

<ejs-dialog class="" #warningDialog id="warningDialog" height="20%" width="24%"  [buttons]="dialogButtons" [visible]="dialogVisibility" [position]="dialogPosition" [animationSettings]="dialogAnimationSettings" isModal='true' >
   
  
    <div class="justify-self-center align-self-center">Are you sure you want to delete this Check Point?</div>
  

  
</ejs-dialog>
