.apply-button{
    font-style: normal ;
    text-decoration: none;
    font-size: 10px ;
    color: rgb(52, 52, 52) ;
    border-top: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    text-shadow: 1px 0px 0px rgb(255,255,255);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(230, 230, 230))) !important;
}
.cancel-button {
    font-style: normal ;
    text-decoration: none;
    font-size: 10px ;
    color: rgb(52, 52, 52) ;
    border-top: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    text-shadow: 1px 0px 0px rgb(255,255,255);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(230, 230, 230))) !important;
    position: absolute;
    left: 0;
}

.e-dialog .e-dlg-content {
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
}

.form-control:focus {
    border-color: black; /* Change to your desired color */
    border-width: 2px;
}

.e-dlg-header {
    font-size: 16px;
}

.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    background-color: transparent;
}
.e-dialog .e-dlg-header {
    color: white;
    font-size: small;
    
}

.e-dialog .e-dlg-header-content {
    color: white;
    font-size: 10px;
    font-weight: normal;
    background-color: #363636;
    margin-bottom: 10px;
    padding: 0px;
    padding-left: 2%;
    
}
