<div id="changeplan" > 
    <ejs-dialog  class="dialog rounded-dialog" #dialogcomponent height="300" width="400" content="" [buttons]="dialogButton" 
      [visible]="dialogVisibility" [position]="dialogPosition"  [resizeHandles]="dialogResizeDirections" 
      [animationSettings]="dialogAnimationSettings" isModal='true' showCloseIcon='true' header="Reset Password">
      <ng-template #content>
        <form>
          <br>
            <div class='form-group'><label for='password'>New Password</label>
                <input type='password' class='form-control'>
            </div>
            <div class='form-group'></div>
            <br>
            <div class='form-group'>
                <label for='comment'>Retype New Password</label>
                <input type='password' class='form-control'>
            </div>
        </form>
  </ng-template>
    </ejs-dialog>
</div>