<app-notifheader title="Guards" icon="fa fa-user"></app-notifheader>

<div class="dbtable ">
    <ejs-grid #grid [dataSource]='data' [editSettings]='editSettings' [toolbar]='toolbar' [allowTextWrap]="true" [textWrapSettings]='wrapOption'  [allowSorting]='true' height=470 
     (toolbarClick)='clickHandler($event)' 
      >
        <e-columns >
                <e-column field='guardId' headerText='Guard ID' width=60></e-column>
                <e-column field='name' headerText='Guard Name' width=80></e-column>
                <e-column field='arcGuardId' headerText='ARC GUARD ID' width=90></e-column>
                <e-column field='pin' headerText='PIN' width=40></e-column>
                <e-column field='isQrPatrol' headerText='Qr-Patrol' width=60>
                    <ng-template #template let-data>
                        <div *ngIf="data.isQrPatrol; else elseblock">
                             <input type="checkbox" checked>
                        </div>
                      </ng-template>
                      <ng-template #elseblock><input type="checkbox"></ng-template>
                </e-column>
                <e-column field='isPTT' headerText='PTT' width=40>
                    <ng-template #template let-data>
                    <div *ngIf="data.isPTT; else elseblock">
                         <input type="checkbox" checked>
                    </div>
                  </ng-template>
                  <ng-template #elseblock><input type="checkbox"></ng-template></e-column>
                <e-column field='lastLatitude' headerText='Last Latitude' width=70></e-column>
                <e-column field='lastLongitude' headerText='Last Longgiitude' width=70></e-column>
                <e-column field='lastAccuracy' headerText='Last Accuracy' width=70></e-column>
                <e-column field='lastContact' headerText='Last Contact' width=100></e-column>
        </e-columns>
        
    </ejs-grid>
    <div class="notification-count">
        Total Guards: {{ guardsCount }}
    </div>
    
    
</div>  
