.dbtable {
    position: relative;
    /* padding: 0px 20px; */
    /* width: 80%; */
}
.e-headertext {
    font-weight: normal;
    color: rgb(159,159,159);
}
.e-rowcell {
    background-color: rgb(245, 245, 245);
    font-family: Arial,Helvetica;
    font-size: 14px;
}
.notification-count {
    bottom: 0;
    left: 0;
    border-top: 1px solid #000000; 
    padding: 0px 0;
    font-size: 0.8em;
}

.e-toolbar-left:disabled,
.e-toolbar-center:disabled,
.e-toolbar-right:disabled,
.e-toolbar:disabled,
.e-toolbar .e-toolbar-item .e-tbar-btn:disabled {
    background-color: rgb(184, 196, 206)
}

.e-grid {
    
   margin-left: 20px;
   margin-right: 20px;
}


.e-grid .e-focused:not(.e-menu-item):not(.e-editedbatchcell) {
    border-left-width: 3px;
    
    
}

.e-grid.e-default:not(.e-rtl) tr td:first-child:not(.e-xlsel-left-border).e-active {
    border-left-width: 3px;
    border-left-color: #39c;
}


.e-grid.e-default:not(.e-rtl) tr td:first-child:not(.e-xlsel-left-border, .e-fixedfreeze.e-freezeleftborder), .e-grid.e-default:not(.e-rtl) tr th.e-headercell:first-child:not(.e-firstcell):not(.e-headercell.e-frozen-left-border), .e-grid.e-default:not(.e-rtl) tr th.e-filterbarcell:first-child:not(.e-filterbarcell.e-frozen-left-border) {
    
    padding-left: 10px;
}

.e-grid .e-gridheader {
    
    padding-right: 0px;
   
}


